body {
  padding: 20px;
  background-color: rgb(160, 160, 160);
}

input {
  width: 50px;
  margin: 3px;
  background-color: rgb(150, 150, 150);

}

button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
  font-variant: small-caps;
}
button {
  background-color: rgb(60, 60, 60);
  color: rgb(255, 255, 255);
  font-family: "Courier New", Courier, monospace;
  padding: 5px 30px;
  border-radius: 20px;
  margin-left: 20px;
  font-variant: small-caps;
  font-size: medium;
}

hr {
  width: 700px;
}

body {
    background-color: a66f5d;
    width: 600px;
    margin: auto;
    padding: 100px;
}

p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
  font-stretch: extra-expanded;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant: small-caps;
}
  

h2{
  font-stretch: extra-expanded;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant: small-caps;
}